
.DS_Store
*.Zip
*.SchDocPreview
*.LOG
*.PcbDocPreview
*.PrjPCBStructure
*.html
*.drc
Altium/SmartBuoyLoRa/Project Outputs for SmartBuoyLoRa/Status Report.Txt
Altium/SmartBuoyLoRa/Project Outputs for SmartBuoyLoRa/Pick Place for SmartBuoyLoRa.csv
